<div class="col-12">
  <div class="d-flex align-items-center justify-content-center flex-wrap image-Nav pt-4">
    {% for block in section.blocks %}
      <div class="me-4 d-flex flex-column">
        <a
          href="{{ block.settings.collection_link }}"
          {% if collection.handle == block.settings.collection_handle %}
          class="active-collection"
          {% endif %}>
          <img
            height="50"
            width="50"
            src="{{ block.settings.image | image_url }}"
            alt="{{ block.settings.title }}" />
          <p class="pt-3 text-center {% if collection.handle == block.settings.collection_handle %}fw-bold{% endif %}">{{ block.settings.title }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .active-collection {
    position: relative;
  }
  .active-collection:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }
</style>

{% schema %}
  {
    "name": "Collection Navigation",
    "blocks": [
      {
        "type": "collection_link",
        "name": "Collection Link",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Collection"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Icon Image"
          },
          {
            "type": "url",
            "id": "collection_link",
            "label": "Collection URL"
          },
          {
            "type": "text",
            "id": "collection_handle",
            "label": "Collection Handle",
            "info": "Enter the collection handle (e.g., 'rolls', 'sheets', or 'scented-paper')"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection Navigation",
        "blocks": [
          {
            "type": "collection_link",
            "settings": {
              "title": "Toilet Paper",
              "collection_link": "/collections/scented-paper",
              "collection_handle": "scented-paper"
            }
          },
          {
            "type": "collection_link",
            "settings": {
              "title": "Sheets",
              "collection_link": "/collections/sheets",
              "collection_handle": "sheets"
            }
          },
          {
            "type": "collection_link",
            "settings": {
              "title": "Rolls",
              "collection_link": "/collections/rolls",
              "collection_handle": "rolls"
            }
          }
        ]
      }
    ]
  }
{% endschema %}