<div class="section" id="categoryHeader">
  <div class="custom-container">
    {% if section.settings.title != blank %}
      <div class="row px-sm-0 px-5 pt-3">
        <div class="col-12 ">
          <h2 class="fw-bold text-sm-start text-center">{{ section.settings.title }}</h2>

          {% if section.settings.description != blank %}
            <p class="pt-3 text-sm-start text-center">
              {{ section.settings.description }}
            </p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Page Title",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Our Premium Tree-Free Paper"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "We make planet-friendly products for all of your household paper needs."
      }
    ],
    "presets": [
      {
        "name": "Page Title"
      }
    ]
  }
{% endschema %}