{% section 'page-title' %}

<div class="section">
  <div class="custom-container bg-gray py-3">
    {% section 'collection-nav' %}
  </div>
</div>

{% section 'all-products' %}
{% section 'bulk-cta' %}