<div class="section" id="categoryHeader">
  <div class="custom-container">
    <div class="row p-5">
      <div class="col-lg-6 col-12">
        <h1 class="fw-bold">Our Premium Tree-Free Paper</h1>
        <p class="pt-3">
          We make planet-friendly products for all of your household paper
 
 
 
 

          needs.
        </p>
      </div>
      <div class="col-lg-6 col-12 pt-lg-0 pt-4">
        <div class="d-flex align-items-center image-Nav">
          <div class="me-4 d-flex flex-column">
            <img height="50" width="50" />
            <p class="pt-3">Toilet Paper</p>
          </div>
          <div class="me-4 d-flex flex-column">
            <img height="50" width="50" />
            <p class="pt-3">Toilet Paper</p>
          </div>
          <div class="me-4 d-flex flex-column">
            <img height="50" width="50" />
            <p class="pt-3">Toilet Paper</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% section 'all-products' %}
{% section 'bulk-cta' %}