<div class="section" id="categoryHeader">
  <div class="custom-container">
    <div class="row p-5">
      <div class="col-xxl-4 col-12">
        <h1 class="fw-bold text-xxl-start text-center">Our Premium Tree-Free Paper</h1>
        <p class="pt-3 text-xxl-start text-center ">
          We make planet-friendly products for all of your household paper
 
 
 
 
 
 
 
 


          needs.
        </p>
      </div>
      <div class="col-xxl-8 col-12 pt-xxl-0 pt-4">
        <div class="d-flex flex-xxl-row flex-column align-items-center justify-content-center image-Nav">
          <div class="me-4 d-flex flex-column">
            <img
              height="50"
              width="50"
              src="{{'toilet-paper.png' |  asset_url}}" />
            <p class="pt-3">Toilet Paper</p>
          </div>
          <div class="me-4 d-flex flex-column">
            <img
              height="50"
              width="50"
              src="{{'towels.png' |  asset_url}}" />
            <p class="pt-3">Kitchen Towels</p>
          </div>
          <div class="me-4 d-flex flex-column">
            <img
              height="50"
              width="50"
              src="{{'Napkins.png' |  asset_url}}" />
            <p class="pt-3">Paper Napkins</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% section 'all-products' %}
{% section 'bulk-cta' %}